{{page-title "Dati COVID19 Italia"}}

{{outlet}}
<footer class="mx-auto px-2 md:px-8 py-1 bg-gray-50">
    <div class="m-2 text-center text-sm"><span title={{this.appVersion}}>v.{{this.appVersionShort}}</span></div>
</footer>