{{page-title "Dati COVID19 Italia"}}

{{outlet}}
<footer class="mx-auto px-2 md:px-8 py-1 bg-gray-50">
    <div class="m-2 text-center text-sm">
        <a href="https://github.com/pcm-dpc/COVID-19" rel="noopener noreferrer" target="_blank" class="underline text-blue-600 hover:text-blue-800 visited:text-purple-600">Sorgente dati</a>
        |
        <span title={{this.appVersion}}>v.{{this.appVersionShort}}</span>
    </div>
</footer>