{{page-title "Regions"}}
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12">
      <h3 class="text-center mt-2">
        Andamento regione {{this.model.firstObject.denominazione_regione}} - {{date-format this.model.firstObject.time}}
      </h3>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col text-center mb-2">
      <LinkTo @route="index">Dati nazionali</LinkTo>
    </div>
    <div class="col text-center mb-2">
      <RegionSelector />
    </div>
  </div>
  <Dashboard @data={{@model}} />
</div>